In [1]:
import pandas as pd
import matplotlib.pyplot as plt

df = pd.read_csv('../data/processed/interrupcoes_clean.csv')

df.head()

,id_ocorrencia,data_abertura,data_fechamento,regiao,causa,clientes_afetados,status,duracao_min
0,1,2025-01-01 08:10:00,2025-01-01 10:20:00,Campinas,Temporal,120,Concluída,130.0
1,2,2025-01-02 14:35:00,2025-01-02 17:10:00,Sumaré,Equipamento,45,Concluída,155.0
2,3,2025-01-03 09:00:00,2025-01-03 12:30:00,Indaiatuba,Acidente,210,Concluída,210.0
3,4,2025-01-04 11:15:00,NaN,Campinas,Manutenção,80,Em atendimento,0.0
4,5,2025-01-05 07:55:00,2025-01-05 08:40:00,Hortolândia,Temporal,30,Concluída,45.0

In [2]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 8 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id_ocorrencia      6 non-null      int64
 1   data_abertura      6 non-null      object
 2   data_fechamento    4 non-null      object
 3   regiao             6 non-null      object
 4   causa              6 non-null      object
 5   clientes_afetados  6 non-null      int64
 6   status             6 non-null      object
 7   duracao_min        6 non-null      float64
dtypes: float64(1), int64(2), object(5)
memory usage: 512.0+ bytes

In [3]:
df.describe()

       id_ocorrencia  clientes_afetados  duracao_min
count       6.000000           6.000000     6.000000
mean        3.500000         105.833333    90.000000
std         1.870829          68.001225    87.692645
min         1.000000          30.000000     0.000000
25%         2.250000          53.750000    11.250000
50%         3.500000         100.000000    87.500000
75%         4.750000         142.500000   148.750000
max         6.000000         210.000000   210.000000

In [4]:
df.isnull().sum()

id_ocorrencia        0
data_abertura        0
data_fechamento      2
regiao               0
causa                0
clientes_afetados    0
status               0
duracao_min          0
dtype: int64

In [5]:
df['data_abertura'] = pd.to_datetime(df['data_abertura'])
df['data_fechamento'] = pd.to_datetime(df['data_fechamento'], errors='coerce')

df.head()

,id_ocorrencia,data_abertura,data_fechamento,regiao,causa,clientes_afetados,status,duracao_min
0,1,2025-01-01 08:10:00,2025-01-01 10:20:00,Campinas,Temporal,120,Concluída,130.0
1,2,2025-01-02 14:35:00,2025-01-02 17:10:00,Sumaré,Equipamento,45,Concluída,155.0
2,3,2025-01-03 09:00:00,2025-01-03 12:30:00,Indaiatuba,Acidente,210,Concluída,210.0
3,4,2025-01-04 11:15:00,NaT,Campinas,Manutenção,80,Em atendimento,0.0
4,5,2025-01-05 07:55:00,2025-01-05 08:40:00,Hortolândia,Temporal,30,Concluída,45.0